body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 8px;
    position: relative;
}

.pokedex-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.pokedex-card {
    width: 250px;
    padding: 16px;
    outline: 3px solid rgba(0, 0, 0, 0.3);
    margin: 16px;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 20px 20px 17px #bebebe,
        -20px -20px 17px #ffffff;
    font-weight: 600;
}

.fire {
    background-color: rgba(255, 0, 0, 0.6);
}

.fire:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.water {
    background-color: rgba(84, 114, 250, 0.7);
}

.water:hover {
    background-color: rgba(84, 114, 250, 0.5);
}

.bug {
    background-color: rgba(232, 255, 131, 0.7);
}

.bug:hover {
    background-color: rgba(232, 255, 131, 0.5);
}

.grass {
    background-color: rgba(16, 172, 1, 0.7);
}

.grass:hover {
    background-color: rgba(16, 172, 1, 0.5);
}

.normal {
    background-color: rgba(135, 172, 1, 0.7);
}

.normal:hover {
    background-color: rgba(135, 172, 1, 0.5);
}

.dark {
    background-color: rgba(116, 116, 116, 0.7);
}

.dark:hover {
    background-color: rgba(116, 116, 116, 0.5);
}

.electric {
    background-color: rgba(150, 140, 4, 0.7);
}

.electric:hover {
    background-color: rgba(150, 140, 4, 0.5);
}

.psychic {
    background-color: rgba(206, 94, 2, 0.7);
}

.psychic:hover {
    background-color: rgba(206, 94, 2, 0.5);
}

.ice {
    background-color: rgba(2, 175, 206, 0.7);
}

.ice:hover {
    background-color: rgba(2, 175, 206, 0.5);
}

.fairy {
    background-color: rgba(206, 2, 128, 0.7);
}


.fairy:hover {
    background-color: rgba(206, 2, 128, 0.5);
}

.fire-info {
    background-color: rgba(255, 0, 0, 1);
}

.water-info {
    background-color: rgba(84, 114, 250, 1);
}

.bug-info {
    background-color: rgba(232, 255, 131, 1);
}

.bug-info .pokemon-name {
    color: black;
}

.bug-info .x {
    filter: none;
}

.grass-info {
    background-color: rgba(16, 172, 1, 1);
}

.normal-info {
    background-color: rgba(135, 172, 1, 1);
}

.dark-info {
    background-color: rgba(116, 116, 116, 1);
}

.electric-info {
    background-color: rgba(150, 140, 4, 1);
}

.psychic-info {
    background-color: rgba(206, 94, 2, 1);
}

.ice-info {
    background-color: rgba(2, 175, 206, 1);
}

.fairy-info {
    background-color: rgba(206, 2, 128, 1);
}



.pokedex {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    height: 95%;
    border-radius: 16px 16px;
    box-shadow: 20px 20px 17px #00000069;
}

.pokemon-name {
    padding: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;

}

.info-container {
    background-color: white;
    border-radius: 40px 40px 16px 16px;
    width: 100%;
    height: 100%;
    color: #cbcdd0;
}

.pokemon-img {
    width: 200px;
    height: 200px;
}

.img-container {
    margin-top: -150px;
    margin-left: 50px;
}

.abilities {
    display: flex;
    margin-bottom: 150px;
}

.ability {
    margin: 16px;
    padding: 8px;
    border-radius: 16px;
    background-color: #ff9595;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4px;
}

.link {
    padding-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.link::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgb(47, 37, 184);
    opacity: 0;
    /* Hier wird das Element standardmäßig unsichtbar gemacht */
    transition: opacity 0.3s;
    /* optional: Fügt einen sanften Übergangseffekt hinzu */
}

.link:hover::after {
    opacity: 1;
    /* Macht das Element beim Hover sichtbar */
}

.link:hover {
    color: black;
}

.content {
    overflow-y: auto;
    height: 50vh;
}

.stat-table {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

tr td {
    padding: 10px;
}

.stat-number {
    color: black;
}

.bar-container {
    width: 300px;
    height: 5px;
    background-color: #f5f6f5;
}

.bar-fill {
    height: 5px;
    background-color: rgb(21, 255, 0);
}

.padding-right {
    padding-right: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.x {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    filter: invert();
}

.x:hover {
    scale: 1.1;
    cursor: pointer;
}

.x-container {
    height: 50px;
    object-fit: contain;
}

.types {
    /* outline: 1px solid black; */
    width: 54px;
    text-align: center;
    border-radius: 8px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.hide {
    display: none;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.267);
    border-radius: 8px;
    margin-right: 16px;
    height: 30px;
    font-size: 16px;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

button {
    background-color: rgba(128, 128, 128, 0.3);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}


.stat-table-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex-container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.moves-table-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 600px) {
    .pokedex {
        height: 100%;
    }
    .pokedex-container {
        width: 100%;
    }
    .pokemon-img {
        width: 150px;
        height: 150px;
    }
    .img-container {
        margin-top: -120px;
        margin-left: 50px;
    }

    .stat-table {
        width: 100%;
        max-height: 200px;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .bar-container {
        width: 200px;
    }

    tr td {
        padding: 0px;
    }
}


@media (max-width: 320px) {
    .pokedex-card {
        width: 100%;
    }
}


@media (max-width: 350px) {
    .bar-container
    {
        width: 150px;
    } 
}

@media (max-height: 850px) {
    .stat-table-container {
       height: 100%;
    }
}
@media (max-height: 750px) {
    .stat-table-container {
        align-items: flex-start;
    }
    .about {
        align-items: flex-start;
    }
}

